@charset "UTF-8";

#imgmain{
	padding: 30px;
	padding-left: 0px;	
	display:inline-block;
}

#imgsub{
		margin-bottom:10px;
}

#big{
	border:1px solid #dee2e6;
	width: 516px;
	height: 400px;
	border-radius:15px;
}

.small{
	
	border:1px solid #dee2e6;
	width: 100px;
	height: 100px;
	text-align:center;
	margin-top:10px;
	margin-right:2px;
	border-radius:15px;
	cursor: pointer
}