@import url(header.css);
@import url(footer.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css);


* {
    font-family: 'Noto Sans KR', sans-serif;
}

html {
    font-size: 10px;
}

body {
	margin: 0;
	overflow-y:scoll;
}