@charset "UTF-8";

hr {
	margin: 0px;
}

#background {

	width: 1200px;
	margin: 0 auto;
}

#textmain{
	display:inline-block;
	position: absolute;
    top: 165px;
    line-height: 3;
}

.detail-text{
	font-size:25px;
	font-weight:bold;
}

.sub-text{
	font-size:14px;
	font-weight:bold;
	color :#969696;
}

.detail-button{
	border:0.8px solid #d8d8d8;
	background-color:white;
	font-size:14px;
	border-radius:10px;
	width: 200px;
    margin: 15px;
    margin-left: 0px;
	
}
	.heart{
	font-size:25px;
	}
	
	
	
	