.login_wrap a {
    text-decoration: none;
    color: inherit;
}

.logo_area{
    width: 300px;
    margin: 100px auto 50px;
}

.logo_area img {
    width:100%;
}

.login_form {
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.login_form p {
    font-size: 1.2rem;
    color:5e5d5d;
    margin: 10px 0;
}

.login_form input {
    width: 100%;
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 3px;
    outline: none;
    padding: 7px;
    font-size: 12px;
}

.login_form input:focus {
    border:1px solid #03134a;
}

.find {
    font-size: 1.3rem;
    float: right;
}

.find span {
    margin-left: 5px;
    color: #5e5d5d;
}

.login_button button {
    margin-top: 30px;
    width: 350px;
    height: 40px;
    background-color:#03134a;
    color:#fff;
    font-size: 1.5rem;
    font-weight: 600;
    border:0;
    border-radius: 4px;
}

.signup_button button {
    margin-top: 10px;
    width: 350px;
    height: 40px;
    background-color:#fff;
    color: #5e5d5d;
    font-size: 1.5rem;
    font-weight: 600;
    border:1px solid #bbb;
    border-radius: 4px;

}

.sns_line {
    width: 350px;
    margin: 40px 0;
    justify-content: space-between;
}

.sns_line hr {
    width: 130px;
    display: inline-block;
    border:0;
    border-top: 1px solid #5e5d5d;
}

.sns_line span {
    font-size: 1.4rem;
    color: #5e5d5d;
    width: 80px;
    display:inline-block;
    text-align: center;
	vertical-align: super;
}

.sns_login {
    margin-top: 20px;
}

.sns_login > button {
    margin-top: 10px;
}

.kakao_button {
    background-color: #FEE500;
    width: 350px;
    height: 40px;
    border:none;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.kakao_logo {
    background-image: url("/resources/img/kakao-iconlogo.png");
    background-size: 19px 19px;
    background-repeat: no-repeat;
    width:30px;
    height: 19px;
    margin-left: 10px;
}


.kakao_button span {
    color: #191919;
    font-size: 1.4rem;
    margin: 0 auto;
}

.naver_button {
    background-color: #03c75a;
    width: 350px;
    height: 40px;
    border:none;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.naver_logo {
    background-image: url("/resources/img/naver-iconlogo.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width:30px;
    height: 30px;
    margin-left: 5px;
}


.naver_button span {
    color: #fff;
    font-size: 1.4rem;
    margin: 0 auto;
}

