@charset "UTF-8";

hr {
	margin: 0px;
}

#background {

	width: 1200px;
	margin: 0 auto;
}

#mainarea {
	display: flex;
}

#textmain{
	line-height: 3;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.detail-text{
	font-size:25px;
	font-weight:bold;
}

.sub-text{
	font-size:14px;
	font-weight:bold;
	color :#969696;
}

.detail-button{
	border:0.8px solid #d8d8d8;
	background-color:white;
	font-size:14px;
	border-radius:10px;
	width: 200px;
    margin: 15px;
    margin-left: 0px;
	
}
	.heart{
	font-size:25px;
	}

#tab-2 {
	min-height: 500px;
}

.pub_info {
	border: 1px solid #bbb;
	border-radius: 10px;
	width: 750px;
    height: 450px;
    margin: 0 auto;
}

.pub_board {
	height: 100%;
    padding: 50px 150px 35px 50px;
}


.pub_board div {
	display: flex;
	margin: 15px auto;
	justify-content: space-between;
}

.pub_board div p {
	font-size: 15px;
	font-weight: 300;
	width: 145px;
	text-align: right;
	margin-right: 30px;
	
}

.pub_board div span {
	font-size: 16px;
	font-weight: 300;
	width: 300px;
}

.pub_board div span a i{
	background-image: src="resources/img/link.png";
}

.cmt1 p {
	margin: 0;
	font-size: 14px;
}

.comments_wrap {
	width: 80%;
	min-height: 300px;
    margin: 0px auto;
    padding: 20px 0 0;
    border-bottom: 1px solid #bbb;
}

.cmt_emp p {
	text-align: center;
    margin-top: 110px;
    font-size: 12px;
    color: #5d5e5e;
}

.cmt1 {
	display: flex;
    padding: 15px 0;
}

.cmt_grp {
	padding: 0 15px;
}


.cmt_grp li:not(:last-child) {
	border-bottom: 1px solid #e1e1e1;
}

#cmt_name {
	width: 15%;
	font-weight: 600;
}

#cmt_text {
	width: 70%;
}

#cmt_date {
	width: 15%;
}

.comment_input_wrap {
	width: 75%;
	margin: 40px auto;
	display: flex;
	justify-content: space-between;
}

.comment_input_wrap textarea{
	width: 75%;
	height: 80px;
	outline: none;
	font-size: 14px;
	padding: 13px;
	border: 1px solid #bbb;
    border-radius: 3px;
    resize: none;
}

.comment_input_wrap textarea::placeholder {
	font-size: 14px;
	color: #bbb;	
}
	
.comment_input_wrap button {
	border: 1px solid #bbb;
	border-radius: 5px;
	outline: none;
	width: 20%;
	height: 80px;
	font-size: 14px;
    color: #5d5e5e;
    font-weight: 600;
}